<div class="dailog-outer">
  <h2 class="title-text">Add Card Details</h2>
<mat-dialog-content>
  <form [formGroup]="cardForm">
    <div class="card-container">
      <div class="card-logo">
        <img src="assets/logos/aspire_logo_white.svg" alt="Card Logo" />
      </div>
      <div class="card-content">
        <mat-form-field>
          <input
            matInput
            placeholder="Cardholder Name"
            formControlName="name"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="btns-wrap">
  <button class="cancel-btn" (click)="onCancel()">Cancel</button>
  <button class="save-btn"  [disabled]="!cardForm.valid" (click)="submit()">Save</button>
  </div>
</mat-dialog-actions>
</div>
