
<div class="dailog-outer">
<h2 class="title-text">Freeze Card</h2>
<mat-dialog-content>
  <div>
    <div class="card-container">
      <div class="card-logo">
        <img src="assets/logos/aspire_logo_white.svg" alt="Card Logo" />
      </div>
      <div class="card-content">
        <p>Are you sure you want to freeze this card?</p>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="btns-wrap">
  <button class="cancel-btn" (click)="onCancel()">Cancel</button>
  <button class="save-btn" (click)="submit()">Save</button>
</div>
</mat-dialog-actions>
</div>
